body {
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0;
}

.nav-container {
	display: flex;
	height: 15vh;
	color: white;
}

ul {
	position: absolute;
	color: white;
	list-style-type: none;
    padding: 0;

}

a {
    padding: 0 2em;
    cursor: pointer;

}

.summary {
	background-color: black;
	color: white;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
	background-color: #10C8CD;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
	background-color: #EC1559;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center
}

.community {
	background-color: #FAF93C;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center
}

.big-text {
	height: 200px;
	width: 400px;
	font-size: 25px;
	max-width: 450px;
	margin: 0 auto;
}

.cn-button {
    border: none;
    background: none;
    color: #f06060;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 1em;
    height: 3.5em;
    width: 3.5em;
    background-color: #fff;
    position: fixed;
    left: 50%;
    margin-left: -1.75em;
    bottom: -1.75em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
}
